<!-- EXPERIENCE PAGE -->
<ion-content *ngIf="page=='page1'">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-img src="../../assets/img/2.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row style="margin-left: 20px; margin-top: 10px; margin-right: 20px">
            <ion-col *ngFor="let type of types" style="min-width: fit-content;">
                <ion-label>
                    <ion-checkbox [checked]="typeIsChecked(type.name)" color="primary" slot="start"
                                  (ionChange)="typeChanged(type.name)"></ion-checkbox>
                    {{type.name}}
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer *ngIf="page=='page1'" lines="none">
    <ion-button fill="inline" [disabled]="holidayData.type_names.length == 0" (click)="page='page2'"
                style="position: inherit;display: block;float: right;">
        <img class="skip" src="../../assets/img/next-page.png" alt="">
    </ion-button>
</ion-footer>

<!-- LOCATION PAGE -->
<ion-content *ngIf="page=='page2'">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-img src="../../assets/img/1.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row style="margin-left: 35px; margin-top: 10px; margin-right: 39px">
            <ion-col *ngFor="let city of cities" style="min-width: fit-content;">
                <ion-label>
                    <ion-checkbox [checked]="cityIsChecked(city.name)" color="primary" slot="start"
                                  (ionChange)="cityChanged(city.name)" style="margin-right: 5px;"></ion-checkbox>
                    {{city.name}}
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer *ngIf="page=='page2'" lines="none">
    <ion-button fill="inline" (click)="page='page1'"
                style="position: inherit;display: block;float: left;">
        <img class="skip" src="../../assets/img/prev-page.png" alt="">
    </ion-button>
    <ion-button fill="inline" [disabled]="holidayData.city_names.length == 0" (click)="page='page3'"
                style="position: inherit;display: block;float: right;">
        <img class="skip" src="/assets/img/next-page.png" alt="">
    </ion-button>
</ion-footer>

<!-- DATE PAGE -->
<ion-content *ngIf="page=='page3'">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-img src="../../assets/img/4.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px;">
            <ion-col>
                <ion-label>
                    <div class="ion-text-center">
                        Tatil Ayınızı Seçiniz?
                    </div>
                </ion-label>
                <mbsc-form [options]="formSettings">
                    <mbsc-form-group inset class="deleteFrmGrp">
                        <mbsc-slider id="slider" highlight="false" value="0" [(value)]="slider6"
                                     step-labels="[0, 9.09, 18.18, 27.27, 36.36, 45.45, 54.54, 63.63, 72.72, 81.81, 90.9, 100]"
                                     step="9.09" [options]="sliderSettings"
                                     (valueChange)="monthChanged($event)"></mbsc-slider>
                    </mbsc-form-group>
                </mbsc-form>
            </ion-col>
        </ion-row>
        <form ngNativeValidate>
            <ion-row style="margin-left: 15px; margin-top: 10px; margin-right: 39px">
                <ion-col>
                    <ion-label>
                        <div class="ion-text-center">
                            Kaç Gün Tatil Yapacaksınız? :
                        </div>
                    </ion-label>
                    <ion-item>
                        <ion-input
                                type="tel"
                                name="dayCount"
                                [(ngModel)]="holidayData.day_count"
                                #dctrl="ngModel"
                                pattern="[0-9]{1}"
                                required></ion-input>
                    </ion-item>
                    <ion-item *ngIf="dctrl.invalid && dctrl.touched" lines="none" style="color: brown">
                        <ion-label style="font-size: 16px">
                            Gün geçersiz. Boşluk bırakmayınız...
                        </ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
<ion-footer *ngIf="page=='page3'" lines="none">
    <ion-button fill="inline" (click)="page='page2'"
                style="position: inherit;display: block;float: left;">
        <img class="skip" src="../../assets/img/prev-page.png" alt="">
    </ion-button>
    <ion-button fill="inline" (click)="page='page4'"
                style="position: inherit;display: block;float: right;" [disabled]="holidayData.day_count == 0">
        <img class="skip" src="../../assets/img/next-page.png" alt="">
    </ion-button>
</ion-footer>

<!-- BUDGET PAGE -->
<ion-content *ngIf="page=='page4'">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-img src="../../assets/img/5.png"></ion-img>
            </ion-col>
        </ion-row>
        <!--<ion-row style="margin-left: 30px; margin-top: 10px; margin-right: 39px">-->
        <ion-row style="margin-left: 30px; margin-top: 10px; margin-right: 39px">
            <ion-col>
                <ion-list>
                    <ion-item lines="none">
                        <ion-label>Başlangıç Fiyatı :</ion-label>
                        <ion-select interface="popover" name="holidayBeginPay" placeholder="Seçiniz..."
                                    (ionChange)="budgetStartChanged($event)" [(ngModel)]="holidayData.budget_pay_start">
                            <ion-select-option *ngFor="let start of budgetPayStart" [value]="start.count"
                                               [selected]="start.isChecked">
                                {{start.count}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row style="margin-left: 30px; margin-top: 10px; margin-right: 39px">
            <ion-col>
                <ion-list>
                    <ion-item lines="none">
                        <ion-label>Bitiş Fiyatı :</ion-label>
                        <ion-select interface="popover" name="holidayEndPay" placeholder="Seçiniz..."
                                    (ionChange)="budgetEndChanged($event)"
                                    [(ngModel)]="holidayData.budget_pay_end">
                            <ion-select-option *ngFor="let end of budgetPayEnd" [value]="end.count"
                                               [selected]="end.isChecked"
                                               [disabled]="start >= end.count">
                                {{end.count}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer *ngIf="page=='page4'" lines="none">
    <ion-button fill="inline" (click)="page='page3'"
                style="position: inherit;display: block;float: left;">
        <img class="skip" src="../../assets/img/prev-page.png" alt="">
    </ion-button>
    <ion-button fill="inline"
                [disabled]="holidayData.budget_pay_start == undefined || holidayData.budget_pay_end == undefined"
                (click)="page='page5'"
                style="position: inherit;display: block;float: right;">
        <img class="skip" src="../../assets/img/next-page.png" alt="">
    </ion-button>
</ion-footer>

<!-- DEMOGRAFI PAGE -->
<ion-content *ngIf="page=='page5'">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-img src="../../assets/img/3.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-label>YETİŞKİN SAYISI</ion-label>
                        <ion-select interface="popover" name="personOfCount" placeholder="Seçiniz..."
                                    (ionChange)="peopleChanged($event)">
                            <ion-select-option *ngFor="let person of people" [value]="person.count"
                                               [selected]="person.isChecked">
                                {{person.count}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item lines="none">
                        <ion-label>ÇOCUK SAYISI</ion-label>
                        <ion-select interface="popover" name="childOfCount" placeholder="Seçiniz..."
                                    (ionChange)="childValue($event)">
                            <ion-select-option *ngFor="let child of childeren" [value]="child.count"
                                               [selected]="child.isChecked">
                                {{child.count}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row style="border: 1px solid grey !important;"
                 *ngIf="holidayData.child_number == 1 || holidayData.child_number == 2 || holidayData.child_number == 3">
        </ion-row>

        <form ngNativeValidate>
            <ion-row>
                <ion-col
                        *ngIf="holidayData.child_number == 1 || holidayData.child_number == 2 || holidayData.child_number == 3">
                    <ion-item>
                        <ion-label position="floating">1. Çocuğunuzun Yaşı (0-8) :</ion-label>
                        <ion-input
                                type="tel"
                                name="childOfOne"
                                pattern="[0-8]{1}"
                                [(ngModel)]="oneChild"
                                #onectrl="ngModel"
                                required></ion-input>
                    </ion-item>
                    <ion-item *ngIf="onectrl.invalid && onectrl.touched" lines="none" style="color: brown">
                        <ion-label style="font-size: 16px">
                            Yaş geçersiz. Boşluk bırakmayınız...
                        </ion-label>
                    </ion-item>
                </ion-col>

                <ion-col *ngIf="holidayData.child_number == 2 || holidayData.child_number == 3">
                    <ion-item>
                        <ion-label position="floating">2. Çocuğunuzun Yaşı (0-8) :</ion-label>
                        <ion-input
                                type="tel"
                                name="childOfTwo"
                                pattern="[0-8]{1}"
                                [(ngModel)]="twoChild"
                                #twoctrl="ngModel"
                                required></ion-input>
                    </ion-item>
                    <ion-item *ngIf="twoctrl.invalid && twoctrl.touched" lines="none" style="color: brown">
                        <ion-label style="font-size: 16px">
                            Yaş geçersiz. Boşluk bırakmayınız...
                        </ion-label>
                    </ion-item>
                </ion-col>

                <ion-col *ngIf="holidayData.child_number == 3">
                    <ion-item>
                        <ion-label position="floating">3. Çocuğunuzun Yaşı (0-8) :</ion-label>
                        <ion-input
                                type="tel"
                                name="childOfThree"
                                pattern="[0-8]{1}"
                                [(ngModel)]="threeChild"
                                #threectrl="ngModel"
                                required></ion-input>
                    </ion-item>
                    <ion-item *ngIf="threectrl.invalid && threectrl.touched" lines="none" style="color: brown">
                        <ion-label style="font-size: 16px">
                            Yaş geçersiz. Boşluk bırakmayınız...
                        </ion-label>
                    </ion-item>
                </ion-col>

                <ion-col
                        *ngIf="holidayData.child_number == 0 || holidayData.child_number == 1 || holidayData.child_number == 2 || holidayData.child_number == 3">
                    <ion-list text-center>
                        <ion-item>
                            <ion-label position="floating">ODA SAYISI</ion-label>
                            <ion-input
                                    type="tel"
                                    name="tel"
                                    [(ngModel)]="holidayData.room_count"
                                    #ctrl="ngModel"
                                    pattern="[0-9]{1,20}"
                                    required></ion-input>
                        </ion-item>
                        <ion-item *ngIf="ctrl.invalid && ctrl.touched" lines="none" style="color: brown">
                            <ion-label style="font-size: 16px">
                                Oda Sayısını boş bırakmayınız.
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
<ion-footer *ngIf="page=='page5'" lines="none">
    <ion-button fill="inline" (click)="page='page4'"
                style="position: inherit;display: block;float: left;">
        <img class="skip" src="../../assets/img/prev-page.png" alt="">
    </ion-button>
    <ion-button
            [disabled]="holidayData.people_number == 0 || holidayData.child_number == -1 || holidayData.room_count == 0"
            fill="inline"
            (click)="page='page6'"
            style="position: inherit;display: block;float: right;">
        <img class="skip" src="../../assets/img/next-page.png" alt="">
    </ion-button>
</ion-footer>

<!-- CONTACT PAGE -->
<ion-content *ngIf="page=='page6'">
    <form ngNativeValidate>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-img src="../../assets/img/6.png"></ion-img>
                </ion-col>
            </ion-row>
            <!-- aşağıda kullanılan pattern girilecek karakter aralığını bize bildirmek için kullanılır. Boşluk karakteri kullanılarak boş
            geçilme işlemini engellemek içinde kullanırız. -->
            <ion-row>
                <ion-col>
                    <ion-list text-center>
                        <ion-item>
                            <ion-label position="floating"><b style="color: brown">(*) </b> ADINIZ SOYADINIZ :</ion-label>
                            <ion-input
                                    type="text"
                                    name="firstName"
                                    [(ngModel)]="holidayData.user_fname_lname"
                                    #fctrl="ngModel"
                                    required></ion-input>
                        </ion-item>
                        <ion-item *ngIf="fctrl.invalid && fctrl.touched" lines="none" style="color: brown">
                            <ion-label style="font-size: 16px">
                                Adınız ve Soyadınız geçersiz.
                            </ion-label>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating"><b style="color: brown">(*) </b> TELEFONUNUZ :</ion-label>
                            <!--pattern="/\(?([0-9]{4})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/"-->
                            <ion-input
                                    type="tel"
                                    name="tel"
                                    [(ngModel)]="holidayData.user_phone_number"
                                    #pctrl="ngModel"
                                    pattern="[0-9]{1,20}"
                                    required></ion-input>
                        </ion-item>
                        <ion-item *ngIf="pctrl.invalid && pctrl.touched" lines="none" style="color: brown">
                            <ion-label style="font-size: 16px">
                                Telefonunuz geçersiz.
                            </ion-label>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating"><b style="color: brown">(*) </b>E-POSTANIZ :</ion-label>
                            <ion-input
                                    type="email"
                                    name="email"
                                    [(ngModel)]="holidayData.user_email"
                                    #ectrl="ngModel"
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    required email="true"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="ectrl.invalid && ectrl.touched" lines="none" style="color: brown">
                            <ion-label style="font-size: 16px">
                                Emailiniz geçersiz.
                            </ion-label>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">ÖZEL İSTEKLERİNİZ :</ion-label>
                            <ion-textarea rows="4" cols="20"
                                          type="text"
                                          name="description"
                                          [(ngModel)]="holidayData.user_description"
                                          placeholder="İsteklerinizi bir kaç cümle ile ifade ediniz...">
                            </ion-textarea>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
<ion-footer *ngIf="page=='page6'" lines="none">
    <ion-button
            [disabled]="holidayData.user_fname_lname == '' || holidayData.user_email == ''"
            style="position: inherit;" type="submit"
            expand="full" (click)="contactInfo()"> {{nextMsg}}
    </ion-button>
</ion-footer>

<ion-content *ngIf="page=='page7'">
    <ion-card>
        <ion-card-header>
            <ion-img src="../assets/img/tick.png"></ion-img>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle style="text-align: center; font-size: 16px" color="primary"><b>Girmiş Olduğunuz
                Bilgiler</b></ion-card-subtitle>
            <ion-grid>

                <ion-row>
                    <ion-col>
                        <ion-label>
                            <b> Seçilmiş İl(ler) </b> : <br>
                            {{holidayData.city_name}}
                        </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-label>
                            <b> Seçilmiş Tatil Tip(leri) </b> : <br>
                            {{holidayData.type_name}}
                        </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-label>
                            <b> Seçilmiş Yetişkin Sayısı </b> : {{holidayData.people_number}}
                        </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-label>
                            <b> Seçilmiş Çocuk Sayısı ve Yaşları </b> : {{holidayData.child_number}} - <br>
                            {{holidayData.child_age}}
                        </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-label>
                            <b> Seçilmiş Ay(lar) </b> : <br>
                            {{holidayData.start_date}} - {{holidayData.end_date}}
                        </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-label>
                            <b> Seçilmiş Tatil Ücret Aralığı </b> : <br>
                            {{holidayData.budget_pay_start}} - {{holidayData.budget_pay_end}}
                        </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-label>
                            <b> Kullanıcı Adı Soyadı </b> : <br> {{holidayData.user_fname_lname}}
                        </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-label>
                            <b> Kullanıcı Telefonu </b> : {{holidayData.user_phone_number}}
                        </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-icon name="mail" slot="start"></ion-icon>
                        <ion-label>
                            <b> Kullanıcı EPostası </b> : {{holidayData.user_email}}
                        </ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-icon name="mail" slot="start"></ion-icon>
                        <ion-label>
                            <b> Kullanıcı Açıklaması </b> : {{holidayData.user_description}}
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-button expand="full" color="secondary" size="6"
                                    style="    float: left; margin-left: -20px; width: -webkit-fill-available !important;"
                                    (click)="page='page1'"><<< GERİ DÖN
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button expand="full" size="6"
                                    onclick="document.getElementById('id01').style.display='block'"
                                    style="    float: right; margin-right: -20px; width: -webkit-fill-available !important;"
                                    (click)="register()">TAMAM
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>

<div class="w3-container" *ngIf="modal">
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4" style="margin-top:50%">
            <header class="w3-container w3-primary">
                        <span onclick="document.getElementById('id01').style.display='none'"
                              class="w3-button w3-display-topright" (click)="popUpFinish()">&times;</span>
            </header>
            <div class="w3-container">
                <div class="modal-body">
                    <div class="thank-you-pop">
                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                            <div class="swal2-success-circular-line-left"
                                 style="background-color: rgb(255, 255, 255);"></div>
                            <span class="swal2-success-line-tip"></span>
                            <span class="swal2-success-line-long"></span>
                            <div class="swal2-success-ring"></div>
                            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                            <div class="swal2-success-circular-line-right"
                                 style="background-color: rgb(255, 255, 255);"></div>
                        </div>
                        <h4>Kaydınız Başarıyla Alındı. 24 Saat İçinde Geri Dönüş Yapılacaktır.</h4>
                        <ion-button color="primary" expand="full"
                                    style="margin-top: 30px; margin-bottom: -10px; margin-left: -30px; margin-right: -30px;"
                                    onclick="document.getElementById('id01').style.display='none'"
                                    (click)="popUpFinish()">YENİ TALEP OLUŞTUR
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w3-container" *ngIf="!modal">
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4" style="margin-top:50%">
            <header class="w3-container w3-primary">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
            </header>
            <div class="w3-container">
                <div class="modal-body">
                    <div class="thank-you-pop">
                        <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span
                                class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span
                                class="swal2-x-mark-line-right"></span></span></div>
                        <h4>Kaydınız Alınamadı</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

