<!-- Project Section -->
<div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">PHOTOS</h3>
</div>

<div class="w3-row-padding" style="margin-bottom: 50px;">
    <div class="w3-col l3 m6 w3-margin-bottom" *ngFor="let item of photos">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">{{item.title}}</div>
            <img src="{{item.url}}" alt="House" style="width:100%">
        </div>
    </div>
</div>
