
  <h1>Register User</h1>
  <hr>

  <label><b>FirstName</b></label>
  <input type="text" placeholder="Enter FirstName" name="firstName" [(ngModel)]="user.first_name" required>

  <label><b>LastName</b></label>
  <input type="text" placeholder="Enter LastName" name="lastName" [(ngModel)]="user.last_name" required>

  <label><b>Email</b></label>
  <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="user.email" required>

  <label><b>Phone</b></label>
  <input type="text" placeholder="Enter Phone" name="phone" [(ngModel)]="user.phone" required>

  <label><b>Age</b></label>
  <input type="text" placeholder="Enter Age" name="age" [(ngModel)]="age" required>

  <label><b>Company</b></label>
  <input type="text" placeholder="Enter Company" name="company" [(ngModel)]="user.company" required>

  <label><b>Address</b></label>
  <input type="text" placeholder="Enter Address" name="address" [(ngModel)]="user.address" required>

  <label><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>

  <label><b>Repeat Password</b></label>
  <input type="password" placeholder="Repeat Password" name="rpt-password" [(ngModel)]="rePsw" required>

  <hr>

  <button class="registerbtn" (click)="save()">Register</button>

